.box {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.label {
  color: rgb(145, 145, 145);
  margin-right: 15px;
}

.img {
  background: url(../../UI/Images/box.png);
  background-size: contain;
  background-position-y: 2px;
  width: 20px;
  height: 20px;
}