.grid {
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 20px;
}

.link {
  margin: 0 auto;
  text-decoration: none;
}

.img {
  width: 91%;
  height: 91%;
  border-radius: 20px;
  margin: 0;
  transition: ease-in-out 0.2s;
  box-shadow: 1px 10px 80px #02315e;
  object-fit: cover;
  margin-bottom: 40px;
}

.img:hover {
  box-shadow: 1px 10px 90px rgba(2, 45, 199, 0.5725490196);
  width: 92%;
  height: 92%;
  margin-bottom: 37px;
}

.header {
  color: rgba(240, 248, 255, 0.755);
  margin: 0px 0 10px 0;
  font-size: 16px;
  text-decoration: none;
  font-family: "SourceCode";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  padding: 0;
  max-height: 420px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .header {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    font-size: 14px;
  }
  .img {
    margin-bottom: 30px;
  }
  .img:hover {
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header {
    font-size: 12px;
  }
  .img {
    margin-bottom: 25px;
  }
  .img:hover {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .img {
    margin-bottom: 17px;
  }
  .img:hover {
    margin-bottom: 14px;
  }
}