.portions {
  display: flex;
  flex-direction: row;
  margin: 50px 0 0;
}

.portions__wrapper {
  display: flex;
  flex-direction: row;
}

.portions__button {
  width: 20px;
  height: 20px;
  color: #fff;
  background: transparent;
  margin: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.portions__label {
  margin: 0;
  color: #fff;
}
