.like {
  margin-top: 10px;
}

.label {
  color: rgb(145, 145, 145);
  margin-right: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.img {
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  content: url(../../UI/Images/like.png);
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .img {
    width: 16px;
    height: 16px;
  }
}